body
{
    background-color:black;
    font-family:Arial;
    color:#ffffff;
}
h1{
    font-family:Verdana;
    color:dimgrey;
    font-size:40px;
}
div{
    
    background-color:white; 
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    text-align:center;
    /*margin-left:600px;
    margin-right:600px;
    font-size:28px;
    text-align:left;*/
}

/*footer {
    margin-top:100px;
    margin-left: 600px;
    margin-right: 600px;
}*/